
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Michroma", sans-serif;
}
@media (max-width: 600px) {
    body {
      background-image: url(https://media.giphy.com/media/KyPXs3nyPvqi4/giphy.gif);
      background-size: cover;
      height: 100%;
    }
  }
@media (max-width: 799px){
  body{
    background-color: gray;
  }
}
@media (min-width: 800px) {
    body {
        background-image: url(https://media.giphy.com/media/xT0wlvGLHmojbeu5vq/giphy.gif);
        background-size: cover;
        height: 100%;
    }
}
.form-group {
    margin-left: -7%;
    margin-top: 10px;
}
.fancy {
  font-family: "Michroma", sans-serif;
  text-align: center;
}
.btn {
    color: #A9A9A9;
    border-radius: 15px 50px;
    background: orange;
    padding: 20px; 
    width: 1000px;
    height: 75px;
    margin-left: -7%;
}
.second-h2 {
    text-align: center;
    margin-left: 10%;
    font-family: "Michroma", sans-serif;
}
img {
  margin-left: -13%;
  border:3px;
}

